<script src="/js/game.js"></script>
<link rel="stylesheet" href="/css/game.css">

<div class="you">
  <div class="card-scrolling"></div>
  <div class="your-cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>