<link rel="stylesheet" href="/css/game.css">

<div class="user-info">
  <img class="user-icon" id="user-icon"></img>
  <h2 class="user-nickname" id="user-nickname"></h2>
  <div class="user-cards-count" id="user-cards-count">5</div>
</div>

<div class="other-positions-container" id="other-positions-container">
  <div class="other-positions" id="other-positions"></div>
</div>


<div class="table-piles" id="table-piles">
  <div class="shuffle-dummy" id="shuffle-dummy"></div>
  <div class="drawing-deck" id="drawing-deck"></div>
  <div class="discard-pile" id="discard-pile"></div>
</div>

<div class="self-cards" id="self-cards">
  <!-- cards add in js -->
</div>

<div class="turns-list scroll" id="turns-list">
  <div class="turn-indicator" id="turn-indicator">Turn ></div>
  <div class="users-container" id="users-container">
    <!-- generated in script -->
  </div>
</div>

<div class="wild-color-selector hide" id="wild-color-selector">
  <div class="backdrop" id="wild-color-backdrop"></div>
  <div class="color-wheel" id="color-wheel">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
  </div>
</div>