<link rel="stylesheet" href="/css/room.css">

<div class="players scroll" id="players-list">
  <!--  Player template     
    <div class="player">
      <img class="user-image" src="https://cdn.discordapp.com/attachments/1064471000932155434/1338613978636619806/profile-placeholder.png?ex=67abb8ea&is=67aa676a&hm=f939d3c02d447fb9b653c1c2f2952ca11954984ba237d78334d68fe078b52c38&" alt="">
      <h2>name</h2>
    </div> 
  -->
</div>
<div class="room-settings">
  <h1 id="room-title">Room Title</h1>

  <div class="settings scroll" id="settings">

  </div>

  <button class="start-button" id="start-button">Start</button>
</div>