body {
    user-select: none;
}

.your-cards {
    /* overflow: hidden; */

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    height: calc(100% - 2rem);
    padding: 1rem;
    width: calc(100% - 2rem);

    display: flex;
    gap: 1rem;
    align-items: center;
}

.card-container {
    --x: 0px;
    --y: 0px;
    --ang: 0deg;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(var(--ang));

    translate: var(--x) var(--y);

    transform-style: preserve-3d;
    perspective: 800px;
    perspective-origin: center;
}

.card {
    border: solid;
    --rx: 0deg;
    --ry: 0deg;
    --rz: 0deg;
    transform: rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--rz));
    background-color: var(--font-alt);
    height: 10rem;
    aspect-ratio: 2 / 3;
}

.card-scrolling {
    background-color: cadetblue;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    height: 15rem;
    width: clamp(25rem, 45vw, 50rem);
}