.page-container {
    padding: 4rem;
    height: calc(100% - 8rem);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
}

h1 {
    font-weight: 900;
    font-size: 26pt;
    text-align: center;
}

.players {
    padding: 1.125rem;
    width: 15rem;
    background-color: var(--background-alt);
    border-radius: 2.25rem;
    display: grid;
    grid-auto-rows: 4.5rem;
    overflow-y: auto;
}

.player {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3rem auto;
    align-items: center;
}

.player.owner h2::after {
    content: '👑';
    position: absolute;
    top: 0;
    left: 0;
}

.player.self::before {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    scale: 0.6109723727436247;
    border-radius: 100%;
    left: 1rem;
    box-shadow: 0px 0px 5px 20px #0ff;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
}

.player h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}

.user-image {
    width: 3rem;
    height: 3rem;
    transform: scale(1.6367352185);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.room-settings {
    background-color: var(--background-alt);
    border-radius: 2.25rem;

    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto;

    padding: 1rem 2rem;
}

.settings {
    max-height: calc(100vh - 7.5rem - 12.1875rem);
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.start-button {
    cursor: pointer;
    font-weight: 800;
    font-size: 18pt;
    background-color: var(--accent-green);
    border-radius: 2.25rem;
    margin-top: 1.5rem;
    height: 3.75rem;
    width: 11.25rem;
    border: 0;
    outline: 0;
    transition: background-color 25ms ease, border-top 50ms ease, border-bottom 50ms ease;
}

.start-button:active {
    background-color: var(--accent-green-darker);
    border-top: inset var(--gray) 0.5rem;
}

.select-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.select-container h2 {
    margin: 0;
    padding: 0;
}

.select-container .arrow {
    position: relative;
}

.select-container label {
    font-weight: 800;
    font-size: 18pt;
}

.arrow {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 2.625rem;
    transition: transform 50ms ease;
    color: var(--font-alt);
}

.select-container select {
    appearance: none;
    position: relative;
    padding: 0 2.25rem 0 0.75rem;
    cursor: pointer;
    font-weight: 800;
    font-size: 15pt;
    background-color: var(--font);
    color: var(--font-alt);
    border-radius: 3.75rem;
    height: 2.625rem;
    border: 0;
    outline: 0;
    transition: background-color 25ms ease, border-top 50ms ease, border-bottom 50ms ease;
}

.select-container option {
    color: var(--font-alt);
}

.select-container select:active {
    background-color: var(--font);
    border-top: inset #000 0.25rem;
}

.select-container:has(select:active) .arrow {
    transform: translateY(0.2rem);
}